* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    outline: 1px solid black;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.box {
    box-sizing: border-box;
    outline: 1px solid black;
    
    
    
}

button {
    padding: 10px;
    
}
